:root {
    --bg-color-dark: #1b1b1b;
    --text-color-light: #f4f4f4;
    --accent-color: #5d4037;
    --font-primary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
 .section {
        padding: 50px 0;
    }
    .section h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .section img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    .section p {
        text-align: center;
        margin-top: 20px;
    }
    .section button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        border: 2px solid #00bcd4;
        background: none;
        color: #00bcd4;
        font-size: 1em;
        cursor: pointer;
    }

    .carousel {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding: 20px 0;
       justify-content: space-evenly;
    }
    .carousel .type_title {
        flex: 0 0 auto;
        background: #333;
        padding: 20px;
        border-radius: 10px;
    }
    .carousel img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

.main-header {
    background-color: var(--bg-color-dark);
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-links a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: 700;
}

.hero {
    background-image: url("asset/7d4bbfabbc85fba28976039beaf9c004.gif");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3.5em;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.product-details .item {
    flex: 1 1 45%;
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .product-details .item {
        flex: 1 1 100%;
    }
    
}
/* dan seterusnya untuk bagian lain */